<div class="row">
    <div class="col-8">
        <h1 class="text-left">
            Mes informations
        </h1>
    </div>
</div>
{{ pseudo }}&nbsp;&nbsp;&nbsp;<label style="font-weight: normal !important;" class="signinIcon"><i class="{{ avatar }} fa-2x"></i></label>