<div class="row deck-part-line" onclick="showHideContent(this)">
    <div class="col-1 deck-part">
        <i class="fas fa-chevron-down"></i>
    </div>
    <div class="col-1 deck-part" style="display: none;">
        <i class="fas fa-chevron-up"></i>
    </div>
    <div class="col-8">
        <b>{{deckPartTitle}}</b>
    </div>
    <div class="col-3 deck-part-count-container">
        <b class="deck-part-count"></b>
    </div>
</div>
<div class="mt-1"></div>