                        <div class="deck-card row">
                            <div class="countCardDeck col-1">{{card.count}}</div>
                            <div class="nameCardDeck col-6">{{{cardNameInDeck card.name}}}</div>
                            <div class="manaCardDeck col-4">{{{replaceSymbols card.mana_cost symbols}}}</div>
                        </div>