/* Styles pour les boutons de formulaires */
input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    border: 3px solid rgb(187, 11, 11);
    color: rgb(187, 11, 11);
    padding: 5px;
}

input[type="radio"] + label {
    padding: 8px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label {
    border: 3px solid rgb(187, 11, 11);
    color: rgb(187, 11, 11);
    padding: 5px;
}

input[type="checkbox"] + label {
    padding: 8px;
}

.advanced-search.form-check {
    padding-left: 0;
}

/* Styles pour coller un bouton en bas de page */
.bottom-glue {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.allow-bottom-glue {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Style pour les liens */
a:visited {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(187, 11, 11);
    text-decoration: none;
}

a:active {
    color: rgb(187, 11, 11);
    text-decoration: none;
}

/* Style des options de recherche pour les datatables */
.dataTables_wrapper .dataTables_filter select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    margin-left: 3px;
}

.select2-container .select2-selection--single {
    height: 36px;
}

/* Page de détails d'un deck */
.deck-part-count-container {
    text-align: right;
}

.deck-part-line {
    border-bottom: 1px solid;
}

.card-tooltip.show {
    opacity: 1;
    background-color: none;
}

.card-tooltip>.tooltip-inner {
    max-width: 100% !important;
    background-color: none;
    margin: 0px;
    padding: 0px;
}

/* Pour coller le footer en bas de la page */
.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

/* Style des éléments du footer */
footer {
    margin-top: 60px;
    padding-top: 10px;
    font-size: 8pt;
}

footer h5 {
    font-size: 10pt;
}

footer a {
    color: white !important;
    font-weight: bold;
}

footer a:hover {
    color: rgb(11, 122, 187) !important;
}

.legal-mention {
    font-size: 8pt;
}

.site-explained {
    font-size: 8pt;
}

/* Styles principaux */
.main-content {
    font-size: 11pt;
}

h1 {
    font-size: 20pt
}

/* Style pour les contenus de decks */
.deck-card-after {
    padding-left: 3px;
    font-weight: 900;
}

.deck-card-after:hover {
    color: rgb(187, 11, 11);
}

.deck-card>.col-md-auto {
    padding: 2px;
}

.deck-card>.col {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.deck-card>.col>.col-8 {
    padding-left: 10px;
    padding-right: 10px;
}

.deck-card>.col>.col-3 {
    padding-left: 10px;
    padding-right: 10px;
}

.deck-part-count-container {
    padding-right: 10px;
}

.deck-chevron {
    padding-left: 0px;
}

.user-action-links {
    color: rgb(11, 122, 187);
}

.btn-primary {
    background-color: rgb(11, 122, 187);
}

td {
    word-break: break-word;
}

.alert {
    z-index: 9999;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.alert-info {
    color: white;
    background-color: rgb(15, 111, 189);
}

.alert-danger {
    color: white;
    background-color: rgb(187, 11, 11);
}