/* Styles pour les boutons de formulaires */
input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    border: 3px solid rgb(187, 11, 11);
    color: rgb(187, 11, 11);
    padding: 5px;
}

input[type="radio"] + label {
    padding: 8px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label {
    border: 3px solid rgb(187, 11, 11);
    color: rgb(187, 11, 11);
    padding: 5px;
}

input[type="checkbox"] + label {
    padding: 8px;
}

.advanced-search.form-check {
    padding-left: 0;
}

/* Styles pour coller un bouton en bas de page */
.bottom-glue {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.allow-bottom-glue {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Style pour les liens */
a:visited {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(187, 11, 11);
    text-decoration: none;
}

a:active {
    color: rgb(187, 11, 11);
    text-decoration: none;
}

/* Style des options de recherche pour les datatables */
.dataTables_wrapper .dataTables_filter select {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    margin-left: 3px;
}

.select2-container .select2-selection--single {
    height: 36px;
}

.countCardDeck:before {
    content: "x";
    display: "inline"
}