<div class="row">
    <div class="col-8">
        <h1 class="text-left">
            Accueil
        </h1>
    </div>
</div>
Bienvenue sur Niv-Mizzet lab' !
<br>
Aucune connexion n'est nécessaire pour explorer notre base de données. Si vous désirez enregistrer vos créations et votre collection, veuillez vous connecter ou créer votre compte au préalable !
<br>
Happy deckbuilding !