<div class="row">
    <div class="col-8">
        <h1 class="text-left">
            <img id="setLogo" src="/images/sets/{{set.icon}}" style="vertical-align: baseline; height: 20px"> {{ set.name }}
        </h1>
    </div>
</div>
<hr>
{{> cards/list/table cards=cards symbols=symbols}}